#TASK-1
#1. Read the given three CSV files to different pandas dataframes.

In [ ]:
import pandas as pd
df1=pd.read_csv("Customers.csv")
df2=pd.read_csv("Transaction.csv")
df3=pd.read_csv("Continent.csv")
df4=pd.read_csv("Studies.csv")
df5=pd.read_csv("Software.csv")
df6=pd.read_csv("Programmer.csv")

In [ ]:
print(df1.head())
print(df2.head())
print(df3.head())

   customer_id  region_id  start_date    end_date
0            1          3  02-01-2020  03-01-2020
1            2          3  03-01-2020  17-01-2020
2            3          5  27-01-2020  18-02-2020
3            4          5  07-01-2020  19-01-2020
4            5          3  15-01-2020  23-01-2020
   customer_id    txn_date txn_type  txn_amount
0          429  21-01-2020  deposit          82
1          155  10-01-2020  deposit         712
2          398  01-01-2020  deposit         196
3          255  14-01-2020  deposit         563
4          185  29-01-2020  deposit         626
   region_id region_name
0          1   Australia
1          2     America
2          3      Africa
3          4        Asia
4          5      Europe

In [ ]:
print("customers csv  file shape:",df1.shape)  # Print the number of rows and columns
!head Customers.csv
# ! : In Jupyter notebooks, this is used to run shell commands.
# head : A Unix command that outputs the first part of files.
#Customers.csv : The name of the file from which you want to see the first few lines.
print("Transaction csv  file shape:",df2.shape)
!head Transaction.csv
print("continent csv  file shape:",df3.shape)
!head Continent.csv

customers csv  file shape: (0, 1)
customer_id,region_id,start_date,end_date
1,3,02-01-2020,03-01-2020
2,3,03-01-2020,17-01-2020
3,5,27-01-2020,18-02-2020
4,5,07-01-2020,19-01-2020
5,3,15-01-2020,23-01-2020
6,1,11-01-2020,06-02-2020
7,2,20-01-2020,04-02-2020
8,1,15-01-2020,28-01-2020
9,4,21-01-2020,25-01-2020
Transaction csv  file shape: (5868, 4)
customer_id,txn_date,txn_type,txn_amount
429,21-01-2020,deposit,82
155,10-01-2020,deposit,712
398,01-01-2020,deposit,196
255,14-01-2020,deposit,563
185,29-01-2020,deposit,626
309,13-01-2020,deposit,995
312,20-01-2020,deposit,485
376,03-01-2020,deposit,706
188,13-01-2020,deposit,601
continent csv  file shape: (5, 2)
region_id,region_name
1,Australia
2,America
3,Africa
4,Asia
5,Europe

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)
print(df6.columns)

Index(['customer_id', 'region_id', 'start_date', 'end_date'], dtype='object')
Index(['customer_id', 'txn_date', 'txn_type', 'txn_amount'], dtype='object')
Index(['region_id', 'region_name'], dtype='object')
Index(['PNAME', 'INSTITUTE', 'COURSE', 'COURSE FEE'], dtype='object')
Index(['PNAME', 'TITLE', 'DEVELOPIN', 'SCOST', 'DCOST', 'SOLD'], dtype='object')
Index(['PNAME', 'DOB', 'DOJ', 'GENDER', 'PROF1', 'PROF2', 'SALARY'], dtype='object')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    3500 non-null   int64
 1   region_id      3500 non-null   int64
 2   start_date     3500 non-null   datetime64[ns]
 3   end_date       3000 non-null   datetime64[ns]
 4   duration_days  3000 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 136.8 KB

In [ ]:
df1.describe()

,customer_id,region_id,start_date,end_date,duration_days
count,3500.000000,3500.000000,3500,3000,3000.000000
mean,250.500000,2.892000,2020-03-02 13:09:07.200000,2020-03-09 10:52:19.200000,14.634000
min,1.000000,1.000000,2020-01-01 00:00:00,2020-01-02 00:00:00,0.000000
25%,125.750000,2.000000,2020-02-01 00:00:00,2020-02-13 00:00:00,7.000000
50%,250.500000,3.000000,2020-02-29 00:00:00,2020-03-07 00:00:00,15.000000
75%,375.250000,4.000000,2020-03-29 00:00:00,2020-04-01 00:00:00,22.000000
max,500.000000,5.000000,2020-07-03 00:00:00,2020-07-02 00:00:00,30.000000
std,144.357903,1.404599,NaN,NaN,8.588634

In [ ]:
df1.keys()

Index(['customer_id', 'region_id', 'start_date', 'end_date', 'duration_days'], dtype='object')

In [ ]:
df1.dtypes

customer_id               int64
region_id                 int64
start_date       datetime64[ns]
end_date         datetime64[ns]
duration_days           float64
dtype: object

In [ ]:
df1.size

17500

#2. Merge the Customers and Transaction into a single dataframe.
Merge with Different Column Names:If the columns to merge on have different names in each DataFrame, use the left_on and right_on parameters.

Merge function:Default merge

There are 4 types of joins  available in Pandas:

1.Inner Join (default): Only include rows with keys in both DataFrames.

2.Left Join: Include all rows from the left DataFrame, and only matching rows from the right DataFrame.

3.Right Join: Include all rows from the right DataFrame, and only matching rows from the left DataFrame.

4.Outer Join: Include rows from both DataFrames, filling in NaNs for missing matches on either side.

In [ ]:
#Check for the existence of 'customer_id' in both DataFrames
print("customer_id' in df1:", 'customer_id' in df1.columns)
print("customer_id' in df3:", 'customer_id' in df2.columns)

#Default merge
merged_df=pd.merge(df1,df2)
print("Default Merge : \n",merged_df.head())

customer_id' in df1: True
customer_id' in df3: True
Default Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

In [ ]:
#Inner Join
inner_merged_df = pd.merge(df1, df2 , on = 'customer_id' , how = 'inner')
print("Inner Merge : \n", inner_merged_df.head())

Inner Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

In [ ]:
#Outer Join
outer_merged_df = pd.merge(df1, df2 , on = 'customer_id', how = 'outer')
print("Outer Merge : \n", outer_merged_df.head())

Outer Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

In [ ]:
#Left Join
left_merged_df = pd.merge(df1, df2 , on = 'customer_id' , how = 'left')
print("Left Merge : \n", left_merged_df.head())

Left Merge :
    customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            2          3  03-01-2020  17-01-2020  03-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         549

In [ ]:
#Right Join
right_merged_df = pd.merge(df1, df2 , on = 'customer_id', how = 'right')
print("Right Merge : \n", right_merged_df.head())

Right Merge :
    customer_id  region_id  start_date    end_date    txn_date txn_type  \
0          429          5  21-01-2020  28-01-2020  21-01-2020  deposit
1          429          5  29-01-2020  01-02-2020  21-01-2020  deposit
2          429          5  02-02-2020  01-03-2020  21-01-2020  deposit
3          429          5  02-03-2020  23-03-2020  21-01-2020  deposit
4          429          5  24-03-2020  12-04-2020  21-01-2020  deposit

   txn_amount
0          82
1          82
2          82
3          82
4          82

In [ ]:
 # Check if 'customer_id' is present in both dataframes
print("Columns in df1:", df1.columns)
print("Columns in df2:", df2.columns)

 #Merge with Different Column Names
merged = pd.merge(df1 ,df2, left_on='customer_id', right_on='customer_id')
print(merged.head())

Columns in df1: Index(['customer_id', 'region_id', 'start_date', 'end_date'], dtype='object')
Columns in df2: Index(['customer_id', 'txn_date', 'txn_type', 'txn_amount'], dtype='object')
   customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

#3. Calculate the duration in days between start date and end date.
NaT represents a missing date. This is specific to columns with the type DateTime. NaT
stands for Not a Time. For example, let us create a dataframe with numerical values and a
column with the dtype DateTime

In [ ]:
# Convert start_date and end_date to datetime objects, handling out-of-bounds dates
# errors='coerce'   ensures that any entries that don't match the specified format are set to NaT (Not a Time).
df1['start_date'] = pd.to_datetime(df1['start_date'], format='%d-%m-%Y', errors='coerce')
df1['end_date'] = pd.to_datetime(df1['end_date'], format='%d-%m-%Y', errors='coerce')

# Identify rows with out-of-bounds end dates
#df1['end_date'].isna() checks for NaN values in the end_date column.
#df1[df1['end_date'].isna()] prints rows where end_date is NaT, indicating these were out-of-bounds dates.
print(df1[df1['end_date'].isna()])

#  handle the out-of-bounds dates (e.g., replace with a valid date, drop the rows)
# Fill NaN values in 'end_date' column with NaT  Example: Replacing with NaT (Not a Time)
df1['end_date'] = df1['end_date'].fillna(pd.NaT)

# Calculate the duration in days (after handling out-of-bounds dates)
df1['duration_days'] = (df1['end_date'] - df1['start_date']).dt.days

# Display the first few rows of the DataFrame to confirm the new column
print(df1.head())

      customer_id  region_id start_date end_date  duration_days
3000            1          3 2020-03-17      NaT            NaN
3001            2          3 2020-03-14      NaT            NaN
3002            3          5 2020-04-25      NaT            NaN
3003            4          5 2020-04-02      NaT            NaN
3004            5          3 2020-03-06      NaT            NaN
...           ...        ...        ...      ...            ...
3495          496          3 2020-02-25      NaT            NaN
3496          497          5 2020-05-27      NaT            NaN
3497          498          1 2020-04-05      NaT            NaN
3498          499          5 2020-02-03      NaT            NaN
3499          500          2 2020-04-15      NaT            NaN

[500 rows x 5 columns]
   customer_id  region_id start_date   end_date  duration_days
0            1          3 2020-01-02 2020-01-03            1.0
1            2          3 2020-01-03 2020-01-17           14.0
2            3          5 2020-01-27 2020-02-18           22.0
3            4          5 2020-01-07 2020-01-19           12.0
4            5          3 2020-01-15 2020-01-23            8.0

#4. Drop the duplicate rows in the merged dataframe if any.
drop_duplicates() without any arguments drops rows where all columns have identical values across rows.
 This is useful if you want to ensure each row in your DataFrame is unique.

In [ ]:
#drop duplicate rows
merged_df = merged_df.drop_duplicates()
print(merged_df.head())

   customer_id  region_id  start_date    end_date    txn_date  txn_type  \
0            1          3  02-01-2020  03-01-2020  02-01-2020   deposit
1            1          3  02-01-2020  03-01-2020  05-03-2020  purchase
2            1          3  02-01-2020  03-01-2020  17-03-2020   deposit
3            1          3  02-01-2020  03-01-2020  19-03-2020  purchase
4            1          3  04-01-2020  14-01-2020  02-01-2020   deposit

   txn_amount
0         312
1         612
2         324
3         664
4         312

#5. Drop rows with missing values in the merged dataframe if any.
To drop rows with missing values (NaNs) from your merged DataFrame (df1), you can use the dropna() method provided by pandas.

dropna() by default drops any row that contains NaN values in any column.

In [ ]:
merged_df = df1.merge(df2)
print("Default Merge : \n", merged_df.head())
# Drop rows with missing values
merged_df = merged_df.dropna()
print("After Dropping Rows with Missing Values : \n", merged_df.head())

Default Merge :
    customer_id  region_id start_date   end_date  duration_days    txn_date  \
0            1          3 2020-01-02 2020-01-03            1.0  02-01-2020
1            1          3 2020-01-02 2020-01-03            1.0  05-03-2020
2            1          3 2020-01-02 2020-01-03            1.0  17-03-2020
3            1          3 2020-01-02 2020-01-03            1.0  19-03-2020
4            1          3 2020-01-04 2020-01-14           10.0  02-01-2020

   txn_type  txn_amount
0   deposit         312
1  purchase         612
2   deposit         324
3  purchase         664
4   deposit         312
After Dropping Rows with Missing Values :
    customer_id  region_id start_date   end_date  duration_days    txn_date  \
0            1          3 2020-01-02 2020-01-03            1.0  02-01-2020
1            1          3 2020-01-02 2020-01-03            1.0  05-03-2020
2            1          3 2020-01-02 2020-01-03            1.0  17-03-2020
3            1          3 2020-01-02 2020-01-03            1.0  19-03-2020
4            1          3 2020-01-04 2020-01-14           10.0  02-01-2020

   txn_type  txn_amount
0   deposit         312
1  purchase         612
2   deposit         324
3  purchase         664
4   deposit         312

#6. Calculate the average duration of each customer.
1.groupby('customer_id'): Groups the DataFrame by customer_id.

2.['duration_days'].mean(): Calculates the average duration for each customer.

3.reset_index(): Resets the index of the resulting DataFrame to make customer_id a column again.This is necessary because the groupby function changes the index of the DataFrame.

In [ ]:
average_durations = merged_df.groupby('customer_id')['duration_days'].mean().reset_index()
print(average_durations)

     customer_id  duration_days
0              1      11.500000
1              2      10.833333
2              3      13.833333
3              4      13.333333
4              5       7.500000
..           ...            ...
495          496       7.333333
496          497      18.666667
497          498      11.833333
498          499       4.333333
499          500      14.000000

[500 rows x 2 columns]

#7. Display the unique transaction types.
The unique() method is useful for exploring categorical data, such as transaction types, where you want to understand all possible values present in a column.

In [ ]:
print(df2.columns)

unique = df2['txn_type'].unique()
print(unique)

Index(['customer_id', 'txn_date', 'txn_type', 'txn_amount'], dtype='object')
['deposit' 'withdrawal' 'purchase']

#8. Display the count of each transaction type with respect to each continent.
If you want to use value_counts() to directly count the occurrences of each txn_type with respect to each region_name.

groupby() function in pandas is used to split the DataFrame into groups based on some criteria.

In [ ]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
merge1= pd.merge(df1, df2, on='customer_id', how='left')
merge2 = pd.merge(merge1, df3, on= 'region_id', how='left') # Merge the result with df4

Index(['customer_id', 'region_id', 'start_date', 'end_date', 'duration_days'], dtype='object')
Index(['customer_id', 'txn_date', 'txn_type', 'txn_amount'], dtype='object')
Index(['region_id', 'region_name'], dtype='object')

In [ ]:
# Group and count transactions
transaction_counts = merge2.groupby(['region_name','txn_type']).size().reset_index(name='transaction_count')
print(transaction_counts)

   region_name    txn_type  transaction_count
0       Africa     deposit               3759
1       Africa    purchase               2338
2       Africa  withdrawal               2317
3      America     deposit               4060
4      America    purchase               2359
5      America  withdrawal               2387
6         Asia     deposit               3682
7         Asia    purchase               2149
8         Asia  withdrawal               2121
9    Australia     deposit               4053
10   Australia    purchase               2660
11   Australia  withdrawal               2394
12      Europe     deposit               3143
13      Europe    purchase               1813
14      Europe  withdrawal               1841

In [ ]:
print(merge2.columns)

# Group by 'continent' and count occurrences of each 'transaction_type'
transaction_counts =merge2.groupby('region_name')['txn_type'].value_counts().reset_index(name='transaction_count')


# Display the counts
print("Count of each transaction type with respect to each continent:")
print(transaction_counts)

Index(['customer_id', 'region_id', 'start_date', 'end_date', 'duration_days',
       'txn_date', 'txn_type', 'txn_amount', 'region_name'],
      dtype='object')
Count of each transaction type with respect to each continent:
   region_name    txn_type  transaction_count
0       Africa     deposit               3759
1       Africa    purchase               2338
2       Africa  withdrawal               2317
3      America     deposit               4060
4      America  withdrawal               2387
5      America    purchase               2359
6         Asia     deposit               3682
7         Asia    purchase               2149
8         Asia  withdrawal               2121
9    Australia     deposit               4053
10   Australia    purchase               2660
11   Australia  withdrawal               2394
12      Europe     deposit               3143
13      Europe  withdrawal               1841
14      Europe    purchase               1813

#9.Find out the selling cost average for packages developed in Pascal.
df[df['developIN'] == 'Pascal'] filters the DataFrame df to select only those rows where 'development_language' is 'Pascal'.

In [ ]:
print(df5.columns)
pas_packages = df5[df5['DEVELOPIN'] == 'PASCAL']
pas_packages

Index(['PNAME', 'TITLE', 'DEVELOPIN', 'SCOST', 'DCOST', 'SOLD'], dtype='object')

      PNAME           TITLE DEVELOPIN    SCOST  DCOST  SOLD
2     ANAND   VIDEO TITLING    PASCAL  7500.00  16000     9
11   RAMESH        DEAD LEE    PASCAL   599.95   4500    73
14  REVATHI  HOSPITAL MGMT.    PASCAL  1100.00  75000     2

In [ ]:
# Calculate the average
avg_selling_cost = pas_packages['SCOST'].mean()
print("Average Selling Cost for the packages developed in Pascal: ", avg_selling_cost)

Average Selling Cost for the packages developed in Pascal:  3066.65

#10. Display the names of those who have done the DAP Course.

In [ ]:
print(df4.columns)
dap = df4[df4['COURSE'] == 'DAP']
dap

Index(['PNAME', 'INSTITUTE', 'COURSE', 'COURSE FEE'], dtype='object')

      PNAME INSTITUTE COURSE  COURSE FEE
5    NELSON  PRAGATHI    DAP        6200
11  REVATHI   SABHARI    DAP        5000

In [ ]:
print(dap['PNAME'])

5      NELSON
11    REVATHI
Name: PNAME, dtype: object

#11. Display the lowest course fee.

In [ ]:
low=df4['COURSE FEE'].min()
print("Lowest Course Fee : ",low)

Lowest Course Fee :  4500

#12. Display the details of the packages for which development costs have been recovered.

In [ ]:
df5['R'] = df5['SCOST'] * df5['SOLD']
# Assuming you want to compare 'Recover' with 'DCOST' column in df5
recover = df5[df5['R'] >= df5['DCOST']]  # Change 5 to df5
print(recover[['PNAME', 'TITLE', 'DEVELOPIN', 'SCOST', 'DCOST', 'SOLD']])

       PNAME           TITLE DEVELOPIN     SCOST  DCOST  SOLD
0       MARY          README       CPP    300.00   1200    84
1      ANAND      PARACHUTES     BASIC    399.95   6000    43
2      ANAND   VIDEO TITLING    PASCAL   7500.00  16000     9
4     KAMALA    PAYROLL PKG.     DBASE   9000.00  20000     7
6       MARY  CODE GENERATOR         C   4500.00  20000    23
7   PATTRICK          README       CPP    300.00   1200    84
8      QADIR      BOMBS AWAY  ASSEMBLY    750.00   3000    11
9      QADIR        VACCINES         C   1900.00   3100    21
10    RAMESH     HOTEL MGMT.     DBASE  13000.00  35000     4
11    RAMESH        DEAD LEE    PASCAL    599.95   4500    73
12   REMITHA    PC UTILITIES         C    725.00   5000    51
13   REMITHA   TSR HELP PKG.  ASSEMBLY   2500.00   6000     7
15    VIJAYA      TSR EDITOR         C    900.00    700     6

In [ ]:
data = {
    'package_name': ['MARY', 'ANAND','KAMALA'],
    'development_cost': [1000, 150,200],
    'recovered': [True, False,True]
}

df = pd.DataFrame(data)

# Filter packages where development costs have been recovered
recovered_packages = df[df['recovered'] == True]

# Display details of packages where development costs have been recovered
print("Details of packages where development costs have been recovered:")
print(recovered_packages)

Details of packages where development costs have been recovered:
  package_name  development_cost  recovered
0         MARY              1000       True
2       KAMALA               200       True

#13. What is the cost of the costliest software development in Basic.

In [ ]:
c = df5[df5['DEVELOPIN']== 'BASIC']['DCOST'].max()
print("Cost of the costliest software development in Basic : ", c )

Cost of the costliest software development in Basic :  6000

#14. How many programmers paid 5000 to 10000 for their course.

In [ ]:
print(df6.columns)
a = df6[(df6['SALARY'] >= 5000) & (df6['SALARY'] <= 10000)]
a

Index(['PNAME', 'DOB', 'DOJ', 'GENDER', 'PROF1', 'PROF2', 'SALARY'], dtype='object')

Empty DataFrame
Columns: [PNAME, DOB, DOJ, GENDER, PROF1, PROF2, SALARY]
Index: []

In [ ]:
print("Number of programmers who paid between 5000 and 10000 for their course:", len(a))

Number of programmers who paid between 5000 and 10000 for their course: 0

#15. How many programmers know either COBOL or Pascal.

In [ ]:
Programmer = df6[(df6['PROF1'].isin(['COBOL', 'PASCAL'])) |
                 (df6['PROF2'].isin(['COBOL', 'PASCAL']))]
Programmer

       PNAME        DOB        DOJ GENDER    PROF1    PROF2  SALARY
0      ANAND  12-Apr-66  21-Apr-92      M   PASCAL    BASIC    3200
1      ALTAF  02-Jul-64  13-Nov-90      M  CLIPPER    COBOL    2800
2    JULIANA  31-Jan-60  21-Apr-90      F    COBOL    DBASE    3000
5     NELSON  11-Sep-85  11-Oct-89      M    COBOL    DBASE    2500
6   PATTRICK  10-Nov-65  21-Apr-90      M   PASCAL  CLIPPER    2800
8     RAMESH  03-May-67  28-Feb-91      M   PASCAL    DBASE    3200
9    REBECCA  01-Jan-67  01-Dec-90      F    BASIC    COBOL    2500
11   REVATHI  02-Dec-69  02-Jan-92      F   PASCAL    BASIC    3700

In [ ]:
print("Number of programmers who know either COBOL or Pascal:", len(Programmer))

Number of programmers who know either COBOL or Pascal: 8